<html>
  <body>
    <form action="/promotions" method="post">
      <div>
        <input type="text" name="message"/>
      </div>
      <div>
        <select class="" name="product[id]">
          <%for(var i = 0; i < list.length; i++) {%>
            <option value="<%=list[i].id%>"><%=list[i].title%></option>
          <%}%>
        </select>
      </div>
      <input type="submit" value="Add promotion"/>
    </form>
  </body>
</html>
